@tailwind base;
@tailwind components;

/* @layer base {
  /* html {
    background-color: black;
  } */
  /* :root {
    --background: black-50;
    /* html {
      background-color: black;
    } */
    
  /* }
  .dark {
    --background: white-50;
  }
} */

/* :root {
  
}

@media (prefers-color-scheme: light) {
  :root {
    
  }
}

body {
  
} */

@layer base {
  html {
    @apply bg-black-50;
    @apply text-white-50;
    overflow-x: hidden;
  }
  h1, h2, h3, p {
    margin-left: 5%;
  }
}

/* @layer utilities { */
  .stroke-text {
    font-weight: bold;
    -webkit-text-stroke: 1px #F6F6F650;
    font-size: 30vw;
    -webkit-text-fill-color: transparent;
  }
/* } */
